[Desktop Entry]
Name=Kodi Playing
Name[nl]=Kodi Playing
Comment=Notification for what is playing on Kodi
Comment[nl]=Notificatie voor wat Kodi afspeelt
Type=Application
Exec=kodi-playing -t
Terminal=false
Icon=kodi-playing
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=AudioVideo;Audio;
