[Desktop Entry]
Name=Kodi Playing
Comment=Notification for what is playing on Kodi
Comment[ca]=Notifica el que està sonant a Kodi
Comment[de]=Benachrichtigung darüber, was auf Kodi abgespielt wird
Comment[es]=Notificación de lo que se reproduce en Kodi
Comment[es_419]=Notificación de lo que se reproduce en Kodi
Comment[lt]=Pranešimas apie tai, ką atkuria Kodi
Comment[nl]=Notificatie voor wat Kodi afspeelt
Comment[pt]=Notificação sobre o que toca no Kodi
Comment[sr]=Обавештење шта пушта Коди
Type=Application
Exec=kodi-playing
Terminal=false
Icon=kodi-playing
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=AudioVideo;Audio;
